<div class="jumbotron">
  <h1>The App!</h1>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<p>The current token is: <%= @token %></p>

<p>
  <%= link_to "FAQ", faq_path %>
</p>
